<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="./../../views/css/bootstrap.min.css">
		<link rel="stylesheet" href="./../../views/css/BodyOlimpus.css?version=0.0.1">
		<link rel="stylesheet" href="./../../views/css/fontawesome.all.css">
		<link
		rel="shortcut icon" href="././../views/img/Logo_Transparent.png">
		{# pwa #}
		<meta name="theme-color" content="#676666">
		<link rel="manifest" datatype='json' href="./../../manifest.json">
		<link rel="apple-touch-icon" href="././../views/img/LogoBodyOlimpus_Black_Cuadrado.png">
		<script src="./../../views/js/script.js"></script>
		{# end pwa #}
		<script src="https://kit.fontawesome.com/572f592c32.js" crossorigin="anonymous"></script>
		<title>
			BodyOlimpus
		</title>
	</head>
	<body id='{{ nameView }}' class=''>
		<header id="bo_header" class="colorHeader"></header>
		{% if message %}
			<div id="bo_Notifications" class="{{ message.type }}">
				<h5>
					{{ message.text }}
				</h5>
			</div>
		{% endif %}

