<div class="navigationAdmin">
	<ul>
		<li><a href="/../../controllers/admin/dashboard.php"><span class="icon img"><img src="../../views/img/LogoBodyOlimpus_White.png" alt="Imagen BodyOlimpus"></span><span class="title"><h2>BodyOlimpus</h2></span></a></li>
		<li><a href="/../../controllers/admin/dashboard.php"><span class="icon"><i class="fa-solid fa-house"></i></span><span class="title">Dashboard</span></a></li>
		<li><a href="/../../controllers/admin/usersAdmin.php"><span class="icon"><i class="fa-solid fa-users"></i></span><span class="title">Users</span></a></li>
		<li><a href="/../../controllers/admin/coach.php"><span class="icon"><i class="fa-solid fa-user-ninja"></i></span><span class="title">Entrenadores</span></a></li>
		<li><a href="/../../controllers/admin/customerAdmins.php"><span class="icon"><i class="fa-solid fa-user-gear"></i></span><span class="title">Customers Accounts</span></a></li>
		<li class="subtitleParent"><a href="#" onclick="displaySubtitles('subtitle');"><span class="icon"><i class="fa-solid fa-newspaper"></i></span><span class="title">Contents</span><i class="fa-solid fa-angle-down"></i></a></li>
			<li class="subtitle"><a href="#"><span class="icon"><i class="fa-solid fa-newspaper"></i></span><span class="title">Alimentación</span></a></li>
			<li class="subtitle"><a href="#"><span class="icon"><i class="fa-solid fa-newspaper"></i></span><span class="title">Ejercicios</span></a></li>
		<li><a href="#"><span class="icon"><i class="fa-solid fa-circle-question"></i></span><span class="title">Help</span></a></li>
		<li><a href="#"><span class="icon"><i class="fa-solid fa-gear"></i></span><span class="title">Settings</span></a></li>
		<li><a href="#"><span class="icon"><i class="fa-solid fa-lock"></i></span><span class="title">Password</span></a></li>
		<li><a href="./../logoutAdmin.php"><span class="icon"><i class="fa-solid fa-right-from-bracket"></i></span><span class="title">Sign Out</span></a></li>
	</ul>
</div>
