<div class="topbar">
    <div class="toggle" onclick="toggleMenu();"></div>
    {# <div class="search">
                    <label>
                        <input type="text" placeholder="Search here"/>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </label>
                </div> #}
    <div class="user">
        <img src="../../views/img/{{context.userAdmin.imgBlack}}" alt="">
    </div>
</div>