{% include "admin/layout/headAdmin.twig" %}
 
<div class="container">
	{% include "admin/layout/navBar.twig" %}

	<div class="main">
		{% include "admin/layout/topBar.twig" %}
		<div class="details">
			<div class="recentOrders">
				<div class="cardHeader">
					<h2>Entrenadores</h2>
					<div class="search">
						<label>
							<input type="text" placeholder="Buscar"/>
							<i class="fa-solid fa-magnifying-glass"></i>
						</label>
					</div>
					<a href="#" class="btn">
						+ Nuevo</a>
				</div>
				<table>
					<thead>
						<tr>
							<td>Nombre
								<i class="fa-solid fa-angle-down"></i>
							</td>
							<td>Usuarios a cargo
								<i class="fa-solid fa-angle-down"></i>
							</td>
							<td>Estado
								<i class="fa-solid fa-angle-down"></i>
							</td>
							<td>Editar
								<i class="fa-solid fa-angle-down"></i>
							</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Jonny Alejandro Cano</td>
							<td>Medellín</td>
							<td>
								<span class="status delivered">Activo</span>
							</td>
							<td>
								<i class="fa-solid fa-pencil"></i>
							</td>
						</tr>
						<tr>
							<td>Karen Juliana Gómez</td>
							<td>Bogotá</td>
							<td>
								<span class="status delivered">Activo</span>
							</td>
							<td>
								<i class="fa-solid fa-pencil"></i>
							</td>
						</tr>
						<tr>
							<td>Mariano Perez</td>
							<td>Barranquilla</td>
							<td>
								<span class="status return">Inactivo</span>
							</td>
							<td>
								<i class="fa-solid fa-pencil"></i>
							</td>
						</tr>
						<tr>
							<td>Ricardo Arjona</td>
							<td>Cartagena</td>
							<td>
								<span class="status pending">En validación</span>
							</td>
							<td>
								<i class="fa-solid fa-pencil"></i>
							</td>
						</tr>
						<tr>
							<td>Jonny Alejandro Cano</td>
							<td>Medellín</td>
							<td>
								<span class="status delivered">Activo</span>
							</td>
							<td>
								<i class="fa-solid fa-pencil"></i>
							</td>
						</tr>
						<tr>
							<td>Karen Juliana Gómez</td>
							<td>Bogotá</td>
							<td>
								<span class="status delivered">Activo</span>
							</td>
							<td>
								<i class="fa-solid fa-pencil"></i>
							</td>
						</tr>
						<tr>
							<td>Mariano Perez</td>
							<td>Barranquilla</td>
							<td>
								<span class="status return">Inactivo</span>
							</td>
							<td>
								<i class="fa-solid fa-pencil"></i>
							</td>
						</tr>
						<tr>
							<td>Ricardo Arjona</td>
							<td>Cartagena</td>
							<td>
								<span class="status pending">En validación</span>
							</td>
							<td>
								<i class="fa-solid fa-pencil"></i>
							</td>
						</tr>
					</tbody>
				</table>
			</div>


		</div>
	</div>
</div>
{# <script src="https://kit.fontawesome.com/572f592c32.js" crossorigin="anonymous"></script>
{% include "admin/layout/scriptsAdmin.twig" %} #}
