{% include "admin/layout/headAdmin.twig" %}
{% include "admin/head.twig" %}
{% include "admin/layout/headAdmin.twig" %}

<div class="container">
	{% include "admin/layout/navBar.twig" %}

	<div class="main">
		<div class="topbar">
			<div class="toggle" onclick="toggleMenu();"></div>
			<div class="user">
				<img src="../../views/img/Logo_Black_Cuadrado.png" alt="">
			</div>
		</div>

		<div class="details">
			<form>
				<div class="mb-3">
					<label for="exampleInputEmail1" class="form-label">Email address</label>
					<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
					<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
					<div class="form">
						<input type="text" id="email" class="form__input" autocomplete="off" placeholder=" ">
						<label for="email" class="form__label">Email</label>
					</div>
				</div>
				<div class="mb-3">
					<label for="exampleInputPassword1" class="form-label">Password</label>
					<input type="password" class="form-control" id="exampleInputPassword1">
				</div>
				<div class="mb-3 form-check">
					<input type="checkbox" class="form-check-input" id="exampleCheck1">
					<label class="form-check-label" for="exampleCheck1">Check me out</label>
				</div>
				{# camp pass #}
				<div class="row g-3 align-items-center">
					<div class="col-auto">
						<label for="inputPassword6" class="col-form-label">Password</label>
					</div>
					<div class="col-auto">
						<input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
					</div>
					<div class="col-auto">
						<span id="passwordHelpInline" class="form-text">
							Must be 8-20 characters long.
						</span>
					</div>
				</div>
				{# end camp pass #}
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>
{# <script src="https://kit.fontawesome.com/572f592c32.js" crossorigin="anonymous"></script>
{% include "admin/layout/scriptsAdmin.twig" %} #}
