{% include "admin/layout/headAdmin.twig" %}
{% include "admin/head.twig" %}

<div class="container">
	{% include "admin/layout/navBar.twig" %}

	<div class="main">
		<div class="topbar">
			<div class="toggle" onclick="toggleMenu();"></div>
			<div class="user">
				<img src="../../views/img/Logo_Black_Cuadrado.png" alt="">
			</div>
		</div>

		<div class="details">
		</div>
	</div>
</div>
{# <script src="https://kit.fontawesome.com/572f592c32.js" crossorigin="anonymous"></script>
{% include "admin/layout/scriptsAdmin.twig" %} #}
