{% include "hook/head.twig" %}
<div class="container">
	<div class="card">
		<div id="form-password">
			<h4>Cambiar Contraseña</h4>
			<form action="./../../controllers/changePassword.php" method="post">
				<div id="content-password">
					<p id="text-password">
						Tu contraseña debe tener mínimo 10 caracteres, mínimo un número, una letra en mayúscula y un carácter especial.
					</p>
					<input class="controls" type="password" name="actualPass" id="actualPass" placeholder="Ingresa tu contraseña actual" autocomplete="off">
					<input class="controls" type="password" name="newPass" id="newPass" placeholder="Ingrese nueva contraseña" autocomplete="off">
					<input class="controls" type="password" name="confirmPass" id="confirmPass" placeholder="Confirma nueva contraseña" autocomplete="off">
					<input class="botons" type="submit" name="submitPass" id="submitPass" value="Actualizar">
				</div>
			</form>
		</div>
	</div>
</div>

<div id="messagehelp" class="hide">
	Hola Soy un mensaje de ayuda de la vista changePassword
</div>
{% include "hook/footer.twig" %}
