{% include "front/hook/head.twig" %}
<div>
	<div class="card">
		<div id="form-password">
			<h4 class="colorText" >Cambiar Contraseña</h4>
			<form action="./../../controllers/changePassword.php" method="post">
				<div id="content-password">
					<p id="text-password" class="colorTextHighlight">
						Tu contraseña debe tener mínimo 10 caracteres, mínimo un número, una letra en mayúscula y un carácter especial.
					</p>
					<input class="controls" type="password" name="actualPass" id="actualPass" placeholder="Ingresa tu contraseña actual" autocomplete="off">
					<input class="controls" type="password" name="newPass" id="newPass" placeholder="Ingrese nueva contraseña" autocomplete="off">
					<input class="controls" type="password" name="confirmPass" id="confirmPass" placeholder="Confirma nueva contraseña" autocomplete="off">
					<input class="botons colorTextHighlight" type="submit" name="submitPass" id="submitPass" value="Actualizar">
				</div>
			</form>
		</div>
	</div>
</div>

<div id="messagehelp" class="hide colorText colorContainers">
	Recuerda modificar tu contraseña mínimo cada 3 meses para evitar un posible robo de cuenta o accesos no conocidos.
</div>
{% include "front/hook/footer.twig" %}
