{% include "hook/head.twig" %}
<div class="container">
	<form action="./../../controllers/weight.php" method="post">
		<section class="form-register">
			<h4>Change Password</h4>
			<input class="controls" type="password" name="actualPass" id="actualPass" placeholder="Ingresa tu contraseña actual" autocomplete="off">
			<input class="controls" type="password" name="newPass" id="newPass" placeholder="Ingrese nueva contraseña" autocomplete="off">
			<input class="controls" type="password" name="confirmPass" id="confirmPass" placeholder="Confirma nueva contraseña" autocomplete="off">
			<input class="botons" type="submit" name="submitPass" id="submitPass" value="Actualizar">
		</section>
	</form>
</div>

<div id="messagehelp" class="hide">
	Hola Soy un mensaje de ayuda de la vista changePassword
</div>
{% include "hook/footer.twig" %}
