{% include "hook/head.twig" %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form action="./../../controllers/create_account.php" method="post" class="form-create-account">
                    <div class="container-logo">
                        	<img class="logo-img" src="././../views/img/logo1.png"/>
                    </div>
                    <p class="text-create-account"> Regístrate</p> 
                    {# <input type="text" name="" required placeholder="Nombre">  #}
                    <input type="text" name="email" required placeholder="Correo electrónico"> 
                    <input type="password" required  name="passwd" placeholder="Contraseña"> 
                    {# <input type="password"required  name="" placeholder="Verifica Contraseña">  #}
                    <input type="submit" name="" value="Ingresar" href="#">
                </form>
            </div>
        </div>
    </div>
</div>
{% include "hook/footer.twig" %}
