{% include "hook/head.twig" %}
<div class="container">
	<div class="card">
		<h4 class="textHeader"> Rutina #5 Principiantes</h4>
		<form action="./../../controllers/exercises5.php" method="post">
		<img src="././../views/img/principiante.png" alt="medir peso"/>
			<div id="tarjetas">
   				 	<a class=" links" href="./../../controllers/exercises5.php">
                	<div class="elementos" >
						<iframe width="560" height="315" src="https://www.youtube.com/embed/-vjnPxTeFGE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor 
						incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
						llamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
						velit esse cillum dolore eu fugiat nulla pariatur.
						 Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                	</div>
            	</a>
       	 	</div>
		</form>
	</div>
</div>
<div id="messagehelp" class="hide">
	Hola Soy un mensaje de ayuda de la vista Ejercicios
</div> 
{% include "hook/footer.twig" %}
