{% include "hook/head.twig" %}
<div class="container">
    <div class="card">
        <h4 class="textHeader">
            Plan de Ejercicios
        </h4>
        <form action="./../../controllers/exercise.php" method="post">
            <img src="././../views/img/triangulo.png" alt="medir peso" />
            <div id="tarjetas">
                <a class=" links" href="./../../controllers/exercises1.php">
                    <div class="elementos" id="card1">
                        <p>
                            Rutina #1 Principiantes
                        </p>
                    </div>
                </a>
            </div>
        </form>
    </div>
</div>
<div id="messagehelp" class="hide">
    Realiza ejercicio todos los días y verás grandes resultados! 
    <br/>
    Puedes repetir una rutina las veces que quieras.
</div>
{% include "hook/footer.twig" %}
