{% include "hook/head.twig" %}
<div class="container">
	<div class="card">
		<h4 class="textHeader"> Plan de Ejercicios</h4>
		<form action="./../../controllers/exercise.php" method="post">
		<img src="././../views/img/triangulo.png" alt="medir peso"/>
			<div id="tarjetas">
  			  	<a class=" links" href="./../../controllers/exercises1.php">
                	<div class="elementos" id="card1">
                    	<p>Rutina #1 Principiantes</p>
                	</div>
            	</a>
   				<a class=" links" href="./../../controllers/exercises2.php" >
                	<div class="elementos" id="card2">
                    	<p>Rutina #2 Principiantes</p>
               	 	</div>
            	</a>
				<a class=" links" href="./../../controllers/exercises3.php" >
                	<div class="elementos" id="card3">
                    	<p>Rutina #3 Principiantes</p>
               	 	</div>
            	</a>
				<a class=" links" href="./../../controllers/exercises4.php" >
                	<div class="elementos" id="card4">
                    	<p>Rutina #4 Principiantes</p>
               	 	</div>
            	</a>
				<a class=" links" href="./../../controllers/exercises5.php">
                	<div class="elementos" id="card5">
                    	<p>Rutina #5 Principiantes</p>
               	 	</div>
            	</a>
				<a class=" links" href="./../../controllers/exercises6.php">
                	<div class="elementos" id="card6">
                    	<p>Rutina #1 Intermedios</p>
               	 	</div>
            	</a>
				<a class=" links" href="./../../controllers/exercises7.php">
                	<div class="elementos" id="card7">
                    	<p>Rutina #2 Intermedios</p>
               	 	</div>
            	</a>
				<a class=" links" href="./../../controllers/exercises8.php">
                	<div class="elementos" id="card8">
                    	<p>Rutina #3 Intermedios</p>
               	 	</div>
            	</a>
				<a class=" links" href="./../../controllers/exercises9.php">
                	<div class="elementos" id="card9">
                    	<p>Rutina #4 Intermedios</p>
               	 	</div>
            	</a>
				<a class=" links" href="./../../controllers/exercises10.php">
                	<div class="elementos" id="card10">
                    	<p>Rutina #5 Intermedios</p>
               	 	</div>
            	</a>
				<a class=" links" href="./../../controllers/exercises11.php">
                	<div class="elementos" id="card11">
                    	<p>Rutina #1 Avanzados</p>
               	 	</div>
            	</a>
				<a class=" links" href="./../../controllers/exercises12.php">
                	<div class="elementos" id="card12">
                    	<p>Rutina #2 Avanzados</p>
               	 	</div>
            	</a>
				<a class=" links" href="./../../controllers/exercises13.php">
                	<div class="elementos" id="card13">
                    	<p>Rutina #3 Avanzados</p>
               	 	</div>
            	</a>
				<a class=" links" href="./../../controllers/exercises14.php">
                	<div class="elementos" id="card14">
                    	<p>Rutina #4 Avanzados</p>
               	 	</div>
            	</a>
       	 	</div>
		</form>
	</div>
</div>
<div id="messagehelp" class="hide">
	Realiza ejercicio todos los días y verás grandes resultados! <br/>
	Puedes repetir una rutina las veces que quieras.
</div> 
{% include "hook/footer.twig" %}
