{% include "hook/head.twig" %}
<div class="container">
	<div class="card">
		<h4 class="textHeader"> Plan de Ejercicios</h4>
		<form action="./../../controllers/exercise.php" method="post">
		<img src="././../views/img/triangulo.png" alt="medir peso"/>
			<div id="tarjetas">
  			  	<a class=" links" href="./../../controllers/exercises1.php">
                	<div class="elementos" id="card1">
                    	<p>Ejercicios  Principiantes</p>
                	</div>
            	</a>
   				<a class=" links" href="#" id="card2">
                	<div class="elementos">
                    	<p>Ejercicios Intermedios</p>
               	 	</div>
            	</a>
				<a class=" links" href="#" id="card3">
                	<div class="elementos">
                    	<p>Ejercicios Avanzados</p>
               	 	</div>
            	</a>
				<a class=" links" href="#" id="card4">
                	<div class="elementos">
                    	<p>Ejercicios Avanzados</p>
               	 	</div>
            	</a>
				<a class=" links" href="#" id="card5">
                	<div class="elementos">
                    	<p>Ejercicios Avanzados</p>
               	 	</div>
            	</a>
				<a class=" links" href="#" id="card6">
                	<div class="elementos">
                    	<p>Ejercicios Avanzados</p>
               	 	</div>
            	</a>
				<a class=" links" href="#" id="card7">
                	<div class="elementos">
                    	<p>Ejercicios Avanzados</p>
               	 	</div>
            	</a>
       	 	</div>
		</form>
	</div>
</div>
<div id="messagehelp" class="hide">
	Hola Soy un mensaje de ayuda de la vista Ejercicios
</div> 
{% include "hook/footer.twig" %}
