{% include "hook/head.twig" %}
<div class="container">
	<div class="card">
		<h5> Plan de Ejercicios</h5>
		<form action="./../../controllers/exercise.php" method="post">
			<div id="tarjetas">
  			  	<a class=" links" href="#">
                	<div class="elementos">
                    	<p>Ejercicios  Principiantes</p>
                	</div>
            	</a>
   				<a class=" links" href="#">
                	<div class="elementos">
                    	<p>Ejercicios Intermedios</p>
               	 	</div>
            	</a>
				<a class=" links" href="#">
                	<div class="elementos">
                    	<p>Ejercicios Avanzados</p>
               	 	</div>
            	</a>
       	 	</div>
		</form>
	</div>
</div>
<div id="messagehelp" class="hide">
	Hola Soy un mensaje de ayuda de la vista Ejercicios
</div> 
{% include "hook/footer.twig" %}
