{% include "hook/head.twig" %}
<div class="container">
    <div class="card">
        <h4 class="textHeader colorText">
            Plan de Ejercicios
        </h4>
        <form action="./../../controllers/exercise.php" method="post">
            <img id="HeaderImg" src="././../views/img/triangulo.png" alt="medir peso" />
            <div class="contentArticle">
				<div class="contentImg">
					<img src="././../views/img/img1.jpg" alt="">
				</div>
				<div class="contentText">
					
						<p class="Title">Title</p>
						<p class="Date">Date</p>
			
					<p class="Text">
						In sit laborum veniam eiusmod anim. Id ipsum reprehenderit id ea aute.
					</p>
				</div>
			</div>
        </form>
    </div>
</div>
<div id="messagehelp" class="hide colorText colorContainers">
    Realiza ejercicio todos los días y verás grandes resultados! 
    <br/>
    Puedes repetir una rutina las veces que quieras.
</div>
{% include "hook/footer.twig" %}
