{% include "hook/head.twig" %}
<div class="container">
	<div class="card">
		<h4 class="textHeader"> Plan de Alimentacion</h4>
		<form action="./../../controllers/feeding.php" method="post">
		<img src="././../views/img/comer.png" alt="comer"/>
			<div id="tarjetas">
   				<a class=" links" href="./../../controllers/food1.php">
                	<div class="elementos" id="card1">
                    	<p>Alimentación #1 Principiantes</p>
                	</div>
            	</a>
   				<a class=" links" href="./../../controllers/food2.php" >
                	<div class="elementos" id="card2">
                    	<p>Alimentación #2 Principiantes</p>
               	 	</div>
            	</a>
				<a class=" links" href="./../../controllers/food3.php" >
                	<div class="elementos" id="card3">
                    	<p>Alimentación #3 Principiantes</p>
               	 	</div>
            	</a>
				<a class=" links" href="./../../controllers/food4.php" >
                	<div class="elementos" id="card4">
                    	<p>Alimentación #4 Principiantes</p>
               	 	</div>
            	</a>
				<a class=" links" href="./../../controllers/food5.php">
                	<div class="elementos" id="card5">
                    	<p>Alimentación #5 Principiantes</p>
               	 	</div>
            	</a>
				<a class=" links" href="./../../controllers/food6.php">
                	<div class="elementos" id="card6">
                    	<p>Alimentación #1 Intermedios</p>
               	 	</div>
            	</a>
				<a class=" links" href="./../../controllers/food7.php">
                	<div class="elementos" id="card7">
                    	<p>Alimentación #2 Intermedios</p>
               	 	</div>
            	</a>
				<a class=" links" href="./../../controllers/food8.php">
                	<div class="elementos" id="card8">
                    	<p>Alimentación #3 Intermedios</p>
               	 	</div>
            	</a>
				<a class=" links" href="./../../controllers/food9.php">
                	<div class="elementos" id="card9">
                    	<p>Alimentación #4 Intermedios</p>
               	 	</div>
            	</a>
				<a class=" links" href="./../../controllers/food10.php">
                	<div class="elementos" id="card10">
                    	<p>Alimentación #5 Intermedios</p>
               	 	</div>
            	</a>
				<a class=" links" href="./../../controllers/food11.php">
                	<div class="elementos" id="card11">
                    	<p>Alimentación #1 Avanzados</p>
               	 	</div>
            	</a>
				<a class=" links" href="./../../controllers/food12.php">
                	<div class="elementos" id="card12">
                    	<p>Alimentación #2 Avanzados</p>
               	 	</div>
            	</a>
				<a class=" links" href="./../../controllers/food13.php">
                	<div class="elementos" id="card13">
                    	<p>Alimentación #3 Avanzados</p>
               	 	</div>
            	</a>
				<a class=" links" href="./../../controllers/food14.php">
                	<div class="elementos" id="card14">
                    	<p>Alimentación #4 Avanzados</p>
               	 	</div>
            	</a>
				<a class=" links" href="./../../controllers/food15.php">
                	<div class="elementos" id="card15">
                    	<p>Alimentación #5 Avanzados</p>
               	 	</div>
            	</a>
       	 	</div>
		</form>
	</div>
</div>
<div id="messagehelp" class="hide">
	Come todos los días saludable y verás los resultados en poco tiempo!
	Repite estas recetas las veces que puedas.
</div> 
{% include "hook/footer.twig" %}
