{% include "hook/head.twig" %}
<div class="container">
    <div class="card">
        <h4 class="textHeader">
            Plan de Alimentacion
                    
        </h4>
        <form action="./../../controllers/feeding.php" method="post">
            <img src="././../views/img/comer.png" alt="comer" />
            <div id="tarjetas">
                <a class=" links" href="./../../controllers/food1.php">
                    <div class="elementos" id="card1">
                        <div class="content_img">
                            <img src="././../views/img/comer.png" alt="comer" />
                        </div>
                        <div class="content_text">
                            <h5>
                                Come saludable
                                                            
                            </h5>
                            <p>
                                Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor                       
                                                                                            
                                                            
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </form>
    </div>
</div>
<div id="messagehelp" class="hide">
    Come todos los días saludable y verás los resultados en poco tiempo!
        Repite estas recetas las veces que puedas.
    
</div>
{% include "hook/footer.twig" %}
