{% include "hook/head.twig" %}
<script src="./../views/js/chart.js"></script>
<div class="container">
	<div class="card">
		<h4>Gráficas</h4>
		<canvas id="myChart"></canvas>
	

	<script>
	const data = {
		labels: ['January','February','March','April','May','June'],
		datasets: [{
			label: 'My First dataset',
			backgroundColor: 'rgb(255, 99, 132)',
			borderColor: 'rgb(255, 99, 132)',
			data: [0, 10, 5, 2, 20, 30, 45],
		}]
	};

	const config = {
		type: 'line',
		data: data,
		options: {}
	};

	const myChart = new Chart(
		document.getElementById('myChart'),
		config
	);
	</script>
	</div>
</div>
{% include "hook/footer.twig" %}
