{% include "hook/head.twig" %}
<script src="./../views/js/chart.js"></script>
<div class="container">
    <div class="card">
        <h4 class="textHeader">
            Gráficas        
        </h4>
        <div id="tarjetDataHeader">
            <div class="tarjetData">
                estas en: 
                <br/>
                <span style="color:rgb(255, 99, 132)">
                    Sobrepeso            
                </span>
            </div>
            <div class="tarjetData">
                estas en: 
                <br/>
                <span style="color:rgb(255, 99, 132)">
                    Sobrepeso            
                </span>
            </div>
        </div>
        <canvas id="LineData"></canvas>
		<canvas id="BarData"></canvas>
    </div>
</div>

<script>
const data = {
	labels: ['January','February','March','April','May','June'],
	datasets: [{
		label: 'Peso',
		backgroundColor: 'rgba(255, 99, 132,0.5)',
		borderColor: 'rgba(255, 99, 132,0.5)',
		data: [0, 10, 5, 2, 20, 30, 45],
		fill: true,
	}]
};

const config = {
	type: 'line',
	data: data,
	options: {}
};

const LineData = new Chart(
	document.getElementById('LineData'),
	config
);

//Bar
const data2 = {
	labels: ['January','February','March','April','May','June'],
	datasets: [{
		label: 'Peso',
		backgroundColor: 'rgba(255, 99, 132,0.5)',
		borderColor: 'rgba(255, 99, 132,0.5)',
		data: [0, 10, 5, 2, 20, 30, 45],
	}]
};

const config2 = {
	type: 'bar',
	data: data2,
	options: {}
};

const BarData = new Chart(
	document.getElementById('BarData'),
	config2
);

</script>
</div></div>{% include "hook/footer.twig" %}