{% include "hook/head.twig" %}
<div class="container">
	<div class="card">
		<div id="form-login">
			<div class="alingLeft">
				<div class="container-logo">
					<img class="logo-img" src="././../views/img/logo-bo.png"/>
								<h4 class="">BODY OLYMPUS</h4>
				</div>
			</div>
			<div class="alingRigth">
				<form action="./../../controllers/login.php" method="post">
					<p class="text-login">Por favor ingresa tu  <span class="text-start"> correo y contraseña!</span></p>
					<input type="text" name="email" placeholder="Correo electrónico">
					<input type="password" name="password" placeholder="Contraseña">
					<a class="text-login" id="text-link" href="#">¿Olvidaste tu <span class="text-start">contraseña?</span></a>
					<br>
					<a class="text-login" id="text-link" href="./../../controllers/create_account.php">Regístrate como <span class="text-start">usuario nuevo</span></a>
					<div class="container-button">
						<input id="button-submit"  type="submit" name="" value="Ingresar" href="#">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% include "hook/footer.twig" %}
