{% include "hook/head.twig" %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                
                <form action="./../../controllers/login.php" method="post" class="box">
                    <div class="container-logo">
                        <img class="logo-img" src="././../views/img/logo1.png" />
                    </div>
                    <p class="text"> Por favor ingresa tu correo y contraseña!</p> 
                    <input type="text" name="email" placeholder="Correo electrónico"> 
                        <input type="password" name="password" placeholder="Contraseña"> 
                        <a class="text" href="#">¿Olvidaste tu contraseña?</a> <br>
                        <a class="text" href="./../../controllers/create_account">Regístrate como usuario nuevo</a> 
                        <input type="submit" name="" value="Ingresar" href="#">
                </form>
            </div>
        </div>
    </div>
</div>
{% include "hook/footer.twig" %}
