{% include "hook/head.twig" %}
<div class="container">
	<div class="card">
		<div id="container-button-logout">
			<a id="button-logout" name="" href="./../../controllers/logout.php">
				Cerrar sesión
				<i class="fas fa-sign-out-alt"></i>
			</a>
		</div>
		<h4 class="">
			BODY OLYMPUS</h4>
		<div>
			<ul>
				<div class="links">
					<li>
						<a class="" href="">
							<span>
								<img class="" src="././../views/img/deporte.png"/>
								<label>Ejercicios</label>
							</span>
						</a>
					</li>
					<li>
						<a class="" href="">
							<span>
								<img class="" src="././../views/img/frutas.png"/>
								<label>Plan de alimentación</label>
							</span>
						</a>
					</li>
				</div>
				<div class="links">
					<li>
						<a class="" href="">
							<span>
								<img class="" src="././../views/img/barra-grafica.png"/>
								<label>Tus avances</label>
							</span>
						</a>
					</li>
					<li>
						<a class="" href="">
							<span>
								<img class="" src="././../views/img/configuraciones.png"/>
								<label>Ajustes</label>
							</span>
						</a>
					</li>
				</div>
			</ul>
		</div>
		{# <div id="container-button">
											<a id="button-next" type=" submit" name=" " href=" #">Continuar</a>
									        </div> #}
	</div>
</div>
<div id="messagehelp" class="hide">
	Hola Soy un mensaje de ayuda de la vista myaccount
</div>
<a href="./../../controllers/gender">Genero</a>
<a href="./../../controllers/place">Lugar para hacer ejercicio</a>

{% include "hook/footer.twig" %}
