{% include "hook/head.twig" %}
<div class="container">
	<div class="card">
		<div id="form-myaccount">
			<h4 class="textHeader">BODY OLYMPUS</h4>
			<div  id="container-myaccount">
				<a class="" href="./../../controllers/exercise.php">
					<div class="content-myaccount">
						<img class="" src="././../views/img/deporte.png"/>
						<span>Plan de Ejercicios</span>
					</div>
				</a>
				<a class="" href="./../../controllers/feeding.php">
					<div class="content-myaccount">
						<img class="" src="././../views/img/frutas.png"/>
						<span>Plan de alimentación</span>
					</div>
				</a>
				<a class="" href="./../../controllers/weight.php">
					<div class="content-myaccount">
						<img class="" src="././../views/img/bascula.png"/>
						<span>Registra tu peso</span>
					</div>
				</a>
				<a class="" href="./../../controllers/graphics.php">
					<div class="content-myaccount">
						<img class="" src="././../views/img/barra-grafica.png"/>
						<span>Tus avances</span>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<div id="messagehelp" class="hide">
	Este botón te ayudará si tienes preguntas mientras navegas por la App!
</div>



{% include "hook/footer.twig" %}
