{% include "hook/head.twig" %}
<div class="container">
	<div class="card">
		<h4 class="">BODY OLYMPUS</h4>
		<div>
			<ul>
				<div class="links">
					<li>
						<a class="" href="./../../controllers/exercise">
							<span>
								<img class="" src="././../views/img/deporte.png"/>
								<label>Plan de Ejercicios</label>
							</span>
						</a>
					</li>
					<li>
						<a class="" href="./../../controllers/feeding">
							<span>
								<img class="" src="././../views/img/frutas.png"/>
								<label>Plan de alimentación</label>
							</span>
						</a>
					</li>
				</div>
				<div class="links">
					<li>
						<a class="" href="./../../controllers/weight">
							<span>
								<img class="" src="././../views/img/bascula.png"/>
								<label>Registra tu peso</label>
							</span>
						</a>
					</li>
					<li>
						<a class="" href="./../../controllers/graphics">
							<span>
								<img class="" src="././../views/img/barra-grafica.png"/>
								<label>Tus avances</label>
							</span>
						</a>
					</li>
				</div>
			</ul>
		</div>
	</div>
</div>
<div id="messagehelp" class="hide">
	Hola Soy un mensaje de ayuda de la vista myaccount
</div>

{% include "hook/footer.twig" %}
