{% include "hook/head.twig" %}
<div class="container">
    <div class="card">
        <div id="form-myaccount">
            <h4 class="textHeader">
                BODY OLYMPUS
            </h4>
            <div id="container-myaccount">
                <a class="" href="./../../controllers/exercise.php">
                    <div class="content-myaccount colorContainers">
                        {# <img class="" src="././../views/img/deporte.png"/> #}
                        <i class="fa-solid fa-dumbbell colorText"></i>
                        <span class="colorText">
                            Plan de Ejercicios
                        </span>
                    </div>
                </a>
                <a class="" href="./../../controllers/feeding.php">
                    <div class="content-myaccount colorContainers">
                        {# <img class="" src="././../views/img/frutas.png"/> #}
                        <i class="fa-solid fa-apple-whole colorText"></i>
                        <span class="colorText">
                            Plan de alimentación
                        </span>
                    </div>
                </a>
                <a class="" href="./../../controllers/weight.php">
                    <div class="content-myaccount colorContainers">
                        {# <img class="" src="././../views/img/bascula.png"/> #}
                        <i class="fa-solid fa-weight-scale colorText"></i>
                        <span class="colorText">
                            Registra tu peso
                        </span>
                    </div>
                </a>
                <a class="" href="./../../controllers/graphics.php">
                    <div class="content-myaccount colorContainers">
                        {# <img class="" src="././../views/img/barra-grafica.png"/> #}
                        <i class="fa-solid fa-chart-line colorText"></i>
                        <span class="colorText">
                            Tus avances
                        </span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div id="messagehelp" class="hide">
    Este botón te ayudará si tienes preguntas mientras navegas por la App!
    
</div>
{% include "hook/footer.twig" %}
