{% include "hook/head.twig" %}

    <h1>Hola Mundo soy my Account</h1>
    <a href="./../../controllers/gender.php">Genero</a>
    <a href="./../../controllers/place.php">Lugar para hacer ejercicio</a>
    <a href="./../../controllers/logout.php">Cerrar Session</a>

{% include "hook/footer.twig" %}
