{% include "front/hook/head.twig" %}
<div class="container">
	<h1 class="colorText">Notificaciones</h1>
	<form action="#" type="submit">
		<button type="submit">
			<i class="fa-solid fa-trash colorText"></i>
		</button>
		<div id="contentNotifications"></div>
	</form>
</div>
<div id="messagehelp" class="hide colorText colorContainers">
	Aquí puedes ver todas las notificaciones de nuevos contenidos o noticias.
</div>

{% include "front/hook/footer.twig" %}
