{% include "hook/head.twig" %}

<div class="container">
	<div class="card">
		<div id="form-PassEmail">
			{# <h4 class="textHeader">Recuperar Contraseña</h4> #}
			<form action="./../../controllers/passwordEmail.php" id="FormValidate" method="post">
				<a class="text-resetPass" href="./../../controllers/login.php">
					Si ya tienes contraseña <span class="text-start" >Inicia sesión</span>
				</a>
				<div id="content-PassEmail">
					<p>Si tienes una cuenta con correo electronico registrada, se te enviara una contraseña provicional para que puedas ingresar a tu app.</p>
					<span style="display: none;" id="VerifyEmail"></span>
					<input type="email" name="email" class="InputValidar" id="email" placeholder="mi_correo_electronico@correo.com" autocomplete="off" required>
					<input class="colorTextHighlight" type="submit" name="submitPassEmail" id="submitPassEmail" onclick = 'validarFormulario()';  value="Enviar">
				</div>
			</form>
		</div>
	</div>
</div>

<script>
    document.getElementById('email').addEventListener('focus', function() {
        document.getElementById('email').addEventListener('input', function() {
            campo = event.target;
            valido = document.getElementById('VerifyEmail');
            valido.style.display = 'block';
            emailRegex = /^(?:[^<>()[\].,;:\s@"]+(\.[^<>()[\].,;:\s@"]+)*|"[^\n"]+")@(?:[^<>()[\].,;:\s@"]+\.)+[^<>()[\]\.,;:\s@"]{2,63}$/i;
            if (emailRegex.test(campo.value)) {
                valido.style.color = 'green';
                valido.innerText = "Es válido";
            } else {
                valido.style.color = 'red';
                valido.innerText = "Aún no cumple con los caracteres de un correo electrónico";
            }
        });
    });
    document.getElementById('email').addEventListener('blur', function() {
        valido = document.getElementById('VerifyEmail');
        valido.style.display = 'none';
    });

    {# function validarFormulario() {
        var campEmail = document.getElementById('email').value;
            if (campEmail.length <= 0) {
                let Error = 'nana';
                throw new Error('Error')
            }
            return;
    } #}


    {# async function validarFormulario() {
        evento.preventDefault();
        await ()=>{
            var campEmail = document.getElementById('email');
            if (campEmail){
                campEmail = campEmail.value;
                if (campEmail.length == 0) {
                    let notificacion = document.getElementById('bo_NotificationsJS');
                    notificacion.className += " error";
                    let textNotification = document.getElementById('NotificationsJS');
                    textNotification.innerText = "Agrega un correo";
                    return false;
                }
            }
            return true;
        }
    } #}

    {# document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("FormValidate").addEventListener('submit', validarFormulario); 
    }); #}

</script>

{% include "hook/footer.twig" %}
