{% include "hook/head.twig" %}

<div id="container">
	<img src="././../views/img/cilueta.png" alt="Banner de cilueta"/>
	<form>
		<ul>
			<li><label><input type="text"></label>Nombres </li>
			<li><label><input type="text"></label>Apellidos</li>
			<li><label><input type="text"></label>Correo</li>
			<li><label><input type="text"></label>Sexo</li>
            <li><label><input type="text"></label>Edad</li>
            <li><label><input type="text"></label>Numero de telefono</li>
            <li><label><input type="text"></label>Espacio de ejercicio</li>
		</ul>
	</form>
</div>

<div id="messagehelp" class="hide">
	Hola Soy un mensaje de ayuda de la vista profile
</div>
{% include "hook/footer.twig" %}
