{% include "hook/head.twig" %}
<div class="container">
	<div class="card">
		<div id="form-settings">
			<div class="alingLeft">
				<div class="container-logo">
					<img class="logo-img" src="././../views/img/logo-bo.png"/>
				</div>
			</div>
			<div class="alingRigth">
					<h4 class=""> BODY OLYMPUS</h4>
				<div id="container-settings" class="">
        				<a href="./../../controllers/profile.php">
            				<div id="perfil" class="content-settings">
               					 <img src="././../views/img/perfil.png"><span>Perfil</span>
            				</div>
       					 </a>
        				<a href="">
            				<div id="ajustes" class="content-settings">
               					<img src="././../views/img/ajuste.png"><span>Cambiar contrase침a</span>
            				</div>
       					</a>
						<a href="./../../controllers/logout.php">
            				<div id="cerrarSesion" class="content-settings">
                				<img src="././../views/img/cerrar-sesion.png"><span>Cerrar sesi칩n</span>
            				</div>
        				</a>
    				</div>
			</div>
		</div>
	</div>
</div>
{# <div id="container-settings" class="">
    <a href="https://test.juntoslatam.com/vgmprofile">
        <div id="perfil" class="content-settings">
            <img src="././../views/img/perfil.png"><span>Perfil</span>
        </div>
    </a>
    <a href="https://test.juntoslatam.com/vgmconfiguration">
        <div id="ajustes" class="content-settings">
            <img src="././../views/img/ajuste.png"><span>Ajustes</span>
        </div>
    </a>
    <a href="https://test.juntoslatam.com/content/79-informacion">
        <div id="informacion" class="content-settings">
            <img src="././../views/img/informacion.png"><span>Informaci칩n</span>
        </div>
    </a>
    <a href="./../../controllers/logout.php">
        <div id="cerrarSesion" class="content-settings">
            <img src="././../views/img/cerrar-sesion.png"><span>Cerrar sesi칩n</span>
        </div>
    </a>
</div> #}
<div id="messagehelp" class="hide">
	Hola Soy un mensaje de ayuda de la vista settings
</div>
{% include "hook/footer.twig" %}
