{% include "front/hook/head.twig" %}
<div id="switchColor" class="colorText">
	<label class="switch">
		<input type="checkbox" id="switchColorInput">
		<div class="slider round"></div>
	</label>
</div>
<div class="container">
	<div class="card">
		<div id="form-settings">
			<h4 class="textHeader colorText">
				AJUSTES
			</h4>
			<div id="container-settings" class="">
				<a href="./../../controllers/profile.php">
					<div
						id="ajustes" class="content-settings colorContainers">
						<i class="fa-solid fa-user colorText"></i>
						<br/>
						<span class="colorText">
							Mi perfil
						</span>
					</div>
				</a>
				<a href="./../../controllers/changePassword.php">
					<div
						id="ajustes" class="content-settings colorContainers">
						{# <img src="././../views/img/pass.png" /> #}
						<i class="fa-solid fa-key colorText"></i>
						<br/>
						<span class="colorText">
							Cambiar contrase침a
						</span>
					</div>
				</a>
				<a href="./../../controllers/logout.php">
					<div
						id="cerrarSesion" class="content-settings colorContainers">
						{# <img src="././../views/img/cerrar.png" /> #}
						<i class="fa-solid fa-right-from-bracket colorText"></i>
						<br/>
						<span class="colorText">
							Cerrar sesi칩n
						</span>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<div id="messagehelp" class="hide colorText colorContainers">
	Visualiza tu informaci칩n, cambia tus datos, o cierra sesi칩n en la App!
</div>
{% include "front/hook/footer.twig" %}
