{% include "hook/head.twig" %}
<div class="container">
	HOLAAAAAAAAA
</div>
<div id="messagehelp" class="hide">
	Hola Soy un mensaje de ayuda de la vista settings
</div>
{% include "hook/footer.twig" %}
