{% include "hook/head.twig" %}
<div class="container">
	<div class="card">
		<div id="form-weight">
			<h4 class="textHeader">Ingresa tu peso actual</h4>
			<form action="./../../controllers/weight.php" method="post">
				<div id="content-weight">
				<img src="././../views/img/control-de-peso.png" alt="medir peso"/>
					<p>Recuerda registrar tu peso mínimo una vez al mes, ya que así podras tener un mejor seguimiento y una grafica más exacta de tu avance.</p>
					<input  type="number" name="weight" id="weight" placeholder="Ingresa tu peso" autocomplete="off" required>
					<input type="submit" name="submitWeight" id="submitWeight" value="Guardar">
				</div>
		</form>
	</div>
</div>

<div id="messagehelp" class="hide">
	Registra tu peso actual una vez al mes!
</div>

{% include "hook/footer.twig" %}
