{% include "hook/head.twig" %}
<div class="container">
	<div class="card">
		<div id="form-weight">
			<h4>Ingresa tu peso actual</h4>
			<form action="./../../controllers/weight.php" method="post">
				<div id="content-weight">
				<p>
					Lorem ipsum dolor sit amet, consectetur
				 	adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				 	Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
				 	Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
				  	Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
					<input  type="text" name="weight" id="weight" placeholder="Ingrese tu peso actual" autocomplete="off">
					<input type="submit" name="submitWeight" id="submitWeight" value="Guardar">
				</div>
		</form>
	</div>
</div>

<div id="messagehelp" class="hide">
	Hola Soy un mensaje de ayuda de la vista weight
</div>

{% include "hook/footer.twig" %}
