<div id="opacityNotification" class="hide"></div>
<footer>
    <div class="navigation colorFooter">
        <ul>
            <li class="list" id="footerBack">
                <a onclick="goBack()">
                    <span class="icon">
                        <i class="fa-solid fa-angle-left colorText colorFooter" style="min-width: 3em;"></i>
                    </span>
                    <span class="text colorText">
                        Atras
                    </span>
                </a>
            </li>
            <li class="list" id="footerProfile">
                <a href="./../../controllers/profile.php">
                    <span class="icon">
                        <i class="fa-solid fa-user colorText colorFooter"></i>
                    </span>
                    <span class="text colorText">
                        Perfil
                    </span>
                </a>
            </li>
            <li class="list" id="footerHome">
                <a href="./../../controllers/myaccount.php">
                    <span class="icon">
                        <i class="fa-solid fa-house colorText colorFooter"></i>
                    </span>
                    <span class="text colorText">
                        Menu
                    </span>
                </a>
            </li>
            <li class="list" id="footerSettings">
                <a href="./../../controllers/settings.php">
                    <span class="icon">
                        <i class="fa-solid fa-gear colorText colorFooter"></i>
                    </span>
                    <span class="text colorText">
                        Ajustes
                    </span>
                </a>
            </li>
            <li class="list" id="footerHelp">
                <a onclick="helpMessage()">
                    <span class="icon">
                        <i class="fa-regular fa-circle-question colorText colorFooter"></i>
                    </span>
                    <span class="text colorText">
                        Ayuda
                    </span>
                </a>
            </li>
            {# <div class="indicator borderColorBody" style=""></div> #}
        </ul>
    </div>
</footer></body><script src="./../../views/js/fontawesome.js"></script><script src="./../../views/js/jquery-3.6.0.js"></script><script src="./../../views/js/script.js"></script></html>