<footer>
    <div id="content">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M-1.41,82.41 C256.49,102.14 267.77,97.22 502.54,81.42 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #08f;">
                <div id="bo_inner_footer">
                    <div id="menu-footer">
                        <div class="column" tabindex="0">
                            <a onclick="goBack()">
                                <img src="././../views/img/contorno-fino-de-punta-de-flecha-a-la-izquierda.png"></a>
                            </div>
                            <div class="column" tabindex="0">
                                <a href="./../../controllers/myaccount.php">
                                    <img src="././../views/img/casa-icono-silueta.png"></a>
                                </div>
                                <div class="column" tabindex="0">
                                    <a href="./../../controllers/settings.php">
                                        <img src="././../views/img/configuracion.png"></a>
                                    </div>
                                    <div class="column" tabindex="0">
                                        <a onclick="helpMessage()">
                                            <img src="././../views/img/boton-de-informacion.png"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </path>
                    </svg>
                </div>
            </footer>
        </body>
        <script src="./../../views/js/fontawesome.js"></script>
        <script src="./../../views/js/jquery-3.6.0.js"></script>
        <script src="./../../views/js/script.js"></script>
    </html>
    