<footer>
    <div class="navigation colorFooter">
        <ul>
            <li class="list active">
                <a href="#">
                    <span class="icon">
                        <i class="fa-solid fa-angle-left colorText"></i>
                    </span>
                    <span class="text">
                        Home
                    </span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon">
                        <i class="fa-solid fa-user colorText"></i>
                    </span>
                    <span class="text">
                        Profile
                    </span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon">
                        <i class="fa-solid fa-house colorText"></i>
                    </span>
                    <span class="text">
                        Message
                    </span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon">
                        <i class="fa-solid fa-gear colorText"></i>
                    </span>
                    <span class="text">
                        Photos
                    </span>
                </a>
            </li>
            <li class="list">
                <a href="#">
                    <span class="icon">
                        <i class="fa-regular fa-circle-question colorText"></i>
                    </span>
                    <span class="text">
                        Settings
                    </span>
                </a>
            </li>
            <div class="indicator borderColorBody" style=""></div>
        </ul>
    </div>
    <script type="text/javascript">
    const list = document.querySelectorAll('.list');
    function activeLink(){
        list.forEach((item)=>
        item.classList.remove('active'));
        this.classList.add('active');
    }
    list.forEach((item)=>
    item.addEventListener('click', activeLink));
    </script>
</footer></body><script src="./../../views/js/fontawesome.js"></script><script src="./../../views/js/jquery-3.6.0.js"></script><script src="./../../views/js/script.js"></script></html>