<footer>
    <div id="bo_inner_footer"> 
        <div id="menu-footer"> 
            <div class="column" tabindex="0"> 
                 <a onclick="goBack()">
                    <img src="././../views/img/contorno-fino-de-punta-de-flecha-a-la-izquierda.png">
                </a>
            </div>
            <div class="column" tabindex="0"> 
                <a href="./../../controllers/myaccount.php">
                    <img src="././../views/img/casa-icono-silueta.png">
                </a>
            </div>
            <div class="column" tabindex="0"> 
                <a href="./../../controllers/settings.php">
                    <img src="././../views/img/configuracion.png">
                </a>
             </div> 
            <div class="column" tabindex="0"> 
                <a onclick="helpMessage()">
                     <img src="././../views/img/boton-de-informacion.png">
                </a>
            </div> 
         </div>
    </div>
</footer>
</body>
<script src="./../../views/js/fontawesome.js"></script>
<script src="./../../views/js/jquery-3.6.0.js"></script>
<script src="./../../views/js/script.js"></script>
</html>
