<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="./../../views/css/bootstrap.min.css">
		<link rel="stylesheet" href="./../../views/css/BodyOlimpus.css?version=0.0.1">
		<link rel="stylesheet" href="./../../views/css/fontawesome.all.css">
		<link rel="shortcut icon" href="././../views/img/logo-bo.ico">
		<title>BodyOlimpus</title>
	</head>
	<body id='{{nameView}}'>
	<header>
    	<div id="bo_header"> 
        	<div id="container-header"> 
         	</div>
   		</div>
	</header>
	<div id="bo_NotificationsJS" class="">
		<h5 id="NotificationsJS"></h5>
	</div>
	{% if message %}
		<div id="bo_Notifications" class="{{message.type}}">
			<h5>{{message.text}}</h5>
		</div>
	{% endif %}

