<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="./../../views/css/bootstrap.min.css">
		<link rel="stylesheet" href="./../../views/css/BodyOlimpus.css?version=0.0.1">
		<link rel="stylesheet" href="./../../views/css/fontawesome.all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
		<title>BodyOlimpus</title>
	</head>
	<body id='{{nameView}}'>
		{% if message %}
			<h1 style="color: black; font-size: 3em;">{{message}}</h1>
		{% endif %}

